<div>    
    <br>
    <br>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 well col-md-6 col-md-offset-3">
            <h2 class="text-center">Ingresar</h2>
            <input class="form-control" placeholder="Usuario" ng-model="usuario.usuario">
            <br>
            <input class="form-control" placeholder="Clave" type="password" ng-model="usuario.clave">
            <br>
            <button class="btn btn-info text-center" ng-click="login();">Ingresar</button>
        </div>
    </div>
</div>